@CHARSET "ISO-8859-1";

body {
	background: #fff;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

div {
	background-color: #99CCFF;
	border-radius: 8px;
	box-shadow: 2px 2px 2px #888888;
	color: #0E3F15;
	border: 2px;
	border-color: gray;
}

.fontty {
	text-decoration: none;
	font-style: normal;
}

.heading2 {
	background-color: #99CCFF;
	border-radius: 8px;
	box-shadow: 1px 1px 2px #888888;
	color: #0E3F15;
	font-family: Verdana;
	font-size: 11px;
	height: 20px;
	font-weight: bold;
	margin-top: 0;
	padding-top: 5px;
	text-align: left;
	padding-left: 3px;
}

.tabstyle {
	width: 960px;
	height: auto;
}

.selectwidth {
	width: 136px;
}

.pantbstyle {
	width: 700px;
	height: auto;
}

.tabuistyle {
	font-size: 12px;
	font-style: normal;
	background-color: green;
}

.textDecoration {
	text-decoration: none;
}

.tabletd {
	background-color: green;
}

.manuTab {
	font-size: 14px;
	font-style: normal;
	background-color: green;
	position: fixed;
}

.layoutType {
	background-color: green;
	height: 40px;
	border: 1px;
	border-color: blue;
}

.labelType {
	background-color: gray;
	height: 15px;
	padding: 2px;
}

input {
	border: 1px solid gray;
	height: 20px;
	text-align: left;
	text-shadow: gray;
	cursor: pointer;
}

select {
	border: 1px solid gray;
	height: 24px;
}

.tableBorder {
	border: 1px solid green;
	border-top: 7px solid green;
	border-right: 6px solid green;
	border-left: 6px solid green;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 14px;
}

a {
	font: normal;
	font-size: 12px;
	color: white;
}

a:hover {
	cursor: pointer;
	height: 9px;
}